// :hover for CSS hover
// .onHover for JS hover
.nav {
	background-color: $header-background;
	border-top: 1px solid $innerMainBG;
	border-radius: 0 0 $border-radius $border-radius;
}
.nav ul li:hover > ul, .nav ul li.onHover > ul {
	display: block;
}
.nav ul ul {
	display: none;
}
.nav ul {
	position: relative;
	list-style: none;
	display: table;
	// margin and padding - remove user-agent default applied styles for lists
	margin: 0;
	padding: 0;
	li {
		position: relative; // Alows elements to be aligned correctly.
		padding: $menuItemPadding;
		color: $menuDefaultColor;
		white-space: nowrap;
		font-size: 1em;
		a {
			text-decoration: none;
			color: $menuDefaultColor;
			&.current {
				color: red;
			}
		}
		// Color for hover state and JS-added class
		&:hover>a, &:hover, &.onHover>a, &.onHover {
			color: $menuHoverColor;
		}
	}
}
.nav ul ul {
	position: absolute; // Removes item from content-flow
	top: 100%;
	background-color: $header-background;
	li {
		border-color: $menuBorderColor;
		border-style: solid;
		border-width: $menuBorderWidth;
		border-bottom: none;
		color: $menuDefaultColor;
		font-weight: normal;
		text-align: left;
		text-decoration: none;
	}
	li:last-child {
		border-bottom: $menuBorderWidth solid $menuBorderColor;
	}
}
.nav ul ul ul {
	position: absolute;
	margin: 0;
	left: 100%;
	top: -#{$menuBorderWidth}; // Fixes margin created by border.
}
// Styling per menu level
.nav>ul {
	width: 100%;
	>li {
		float: left;
		font-weight: bold;
		&:last-of-type {
			float: right;
		}
	}
}