// :hover for CSS hover
// .onHover for JS hover
.nav {
	background-color: $header-background;
	border-top: 1px solid $content-background;
	border-radius: 0 0 $border-radius $border-radius;
}
.nav ul li:hover > ul, .nav ul li.onHover > ul {
	display: block;
}
.nav ul ul {
	display: none;
}
.nav ul {
	position: relative;
	list-style: none;
	display: table;
	// margin and padding - remove user-agent default applied styles for lists
	margin: 0;
	padding: 0;
	li {
		position: relative; // Alows elements to be aligned correctly.
		padding: $menu-item-padding;
		color: $menu-color;
		white-space: nowrap;
		font-size: 1em;
		a {
			text-decoration: none;
			color: $menu-color;
			&.current {
				color: red;
			}
		}
		// Color for hover state and JS-added class
		&:hover>a, &:hover, &.onHover>a, &.onHover {
			color: $menu-color-hover;
		}
	}
}
.nav ul ul {
	position: absolute; // Removes item from content-flow
	top: 100%;
	background-color: $header-background;
	li {
		border-color: $menu-border-color;
		border-style: solid;
		border-width: $menu-border-width;
		border-bottom: none;
		color: $menu-color;
		font-weight: normal;
		text-align: left;
		text-decoration: none;
	}
	li:last-child {
		border-bottom: $menu-border-width solid $menu-border-color;
	}
}
.nav ul ul ul {
	position: absolute;
	margin: 0;
	left: 100%;
	top: -#{$menu-border-width}; // Fixes margin created by border.
}
// Styling per menu level
.nav>ul {
	width: 100%;
	>li {
		float: left;
		font-weight: bold;
		&:last-of-type {
			float: right;
		}
	}
}
