// General
$innerMainBG     : #FFF4E3;
$innerFontSize   : 1em;
$indentWidth     : 0.5em;
$contentWidth    : 75%;
$contentMinWidth : 700px;
$bodyTextColor   : #2F5783;

$border-radius   : 5px;

$siteTitleColor  : red;
$siteTitleSize   : 2rem;
$pageHeaderColor : #194096;

// Table
$tableBG         : transparent;

// Code Block Variable Declaration
$codeBackground  : #FFE1B3;
$codeFontSize    : 1em;

// Gradient
$toColor         : #a6aac4;
$fromColor       : white;

// Menu styling
$header-background: #2F5783;
$menuHoverColor: #EEA251;
$menuDefaultColor: white;
$menuBorderColor: #8080FF;
$menuBorderWidth: 1px;
$menuItemPadding: 0.5em;

// Compass Configuration
$experimental-support-for-svg: true;
@import "compass/css3/images"; // linear-gradient and image size getters
