// General 
$border-radius   : 5px;

// Content
$content-background : #FFF4E3;
$content-indentWidth: 0.5em;
$content-width      : 95%;
$content-minWidth   : 700px;
$content-color      : #2F5783;
$content-titleColor : #194096;
$content-fontsize   : 1em;

// Header
$header-color     : red;
$header-fontsize  : 2rem;
$header-background: #2F5783;

// Table
$table-background: transparent;

// Code Block
$code-background  : #FFE1B3;
$code-fontsize    : 1em;

// Gradient
$gradient-toColor         : #a6aac4;
$gradient-fromColor       : white;

// Menu styling
$menu-color       : white;
$menu-color-hover : #EEA251;
$menu-border-color: #8080FF;
$menu-border-width: 1px;
$menu-item-padding: 0.5em;
